$background-gray: #222222;
$gray: #2e2e2e;
$focused-gray: #383838;
$foreground-white: #dedede;
$foreground-gray: #5a5a5a;

$blue: #002648;
$blue-dark: #001d38;
$blue-foreground: #a7d5ff;

$green: #00483b;
$green-dark: #003c31;
$green-foreground: #10e5bf;

$purple: #2d0048;
$purple-dark: #240039;
$purple-foreground: #e0acff;

$brown: #482b00;
$brown-dark: #372100;
$brown-foreground: #ffdfae;

$typography-title: 28pt;
$typography-content: 14pt;
$typography-meta: 12pt;
